{%extends "basiclayout.html"%}
{% from "common/macrongos.html" import render_field_floating %}
{% block content %}
<!--
you can substitue the span of reauth email for a input with the email and
include the remember me checkbox
-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card">
                <h4><b>Inicio de sesión</b></h4>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% from "common/macrongos.html" import render_alert %}
                
                  {% if messages %}
                    <div class="row">
                      <div class="col-md-12">
                        {% for category, message in messages %}
                          {{ render_alert(message, category) }}
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                {% endwith %}
                <form method="POST">
                    {{form.csrf_token}}
                    <ul>
                        {%for error,message in form.errors.items()%}
                        {%for errormessage in message%}
                            <li>{{errormessage}}</li>
                        {%endfor%}
                    {%endfor%}
                    </ul>
                    {{render_field_floating(form.email,label="Correo")}}
                    {{render_field_floating(form.password,label="Contraseña")}}
                    <div id="remember" class="checkbox checkbox-material">
                        <label>
                            {{form.remember_me}} Mantener sesión
                        </label>
                    </div>
                    <button class="btn btn-info btn-block" type="submit">Iniciar sesión</button>
                </form>
                ¿No tienes cuenta? <a href="{{url_for('user.register')}}">Registrate</a>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock %}
