{% from "flask_user/_macros.html" import render_field, render_submit_field %}
{%extends "basiclayout.html"%}
{% block content %}
<!--
you can substitue the span of reauth email for a input with the email and
include the remember me checkbox
-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <h4><b>Registro</b></h4>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% from "common/macrongos.html" import render_alert %}

                  {% if messages %}
                    <div class="row">
                      <div class="col-md-12">
                        {% for category, message in messages %}
                          {{ render_alert(message, category) }}
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                {% endwith %}
                <form method="POST">
                    {{form.csrf_token}}
                    {{ render_field(form.email, label="Correo" ) }}
                    <div class="row">
                        <div class="col-lg-6">
                            {{ render_field(form.first_name) }}  
                        </div>
                        <div class="col-lg-6">
                            {{ render_field(form.last_name) }}  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ render_field(form.password,label="Contraseña") }}
                        </div>
                        <div class="col-lg-6">
                            {{ render_field(form.retype_password,"Repetir contraseña") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ render_field(form.institution) }}
                        </div>
                        <div class="col-lg-6">
                            {{ render_field(form.cargo,"Cargo") }}
                        </div>
                    </div>

                    <button class="btn btn-info" type="submit">Registrar</button>
                </form>
                ¿Ya estás registrado? <a href="{{url_for('user.login')}}">Inicio de sesión</a>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

{% endblock %}
