{% extends "fulllayout.html" %}
{%block header%}Solicitar curso{%endblock%}
{%set navigation_active="solicitar_curso"%}
{% block content %}

<div class="col-lg-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4>
				Iniciar solicitud de curso
			</h4>
		</div>
		<div class="card-content">
			<form method="POST">
				{% for error, message in form.errors.items() %}
					{{ message }}
				{% endfor %}
				{{ form.hidden_tag() }}
				<div class="checkbox checkbox-materia">
					<label>
						{{form.other_instructor(id="is_instructor")}} Soy encargado e instructor del curso
					</label>
				</div>
				<fieldset class="form-group" id="mail-field">
					<label>Correo del instructor</label>
					{{form.instructor_email(class="form-control",id="instructor_email")}}
				</fieldset>
				{{form.submit(class="btn btn-info")}}
			</form>
		</div>
	</div>
</div>
{% endblock %}
