{% extends "fulllayout.html" %}
{%block header%}Lista de solicitudes{%endblock%}
{%set navigation_active="mis_solicitudes"%}
{%block content%}
<div class="row">
<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Solicitudes donde es instructor</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table table-hover">
				{%if instructor_courses is defined and instructor_courses|length > 0%}
				<thead>
					<th>Nombre</th>
					<th>Responsable</th>
					<th>Estado</th>
				</thead>
				{%endif%}
				<tbody>
					{%for course in instructor_courses%}
					<tr class="cursor-pointer clickable-row" data-href="solicitud/{{course.id}}">
						<td>
							{{course.nombre}}
						</td>
						<td>
							{{ course.responsable.full_name() }}
						</td>
						<td>
							{{course.status.value}}
						</td>
					</tr>
					{%else%}
					No eres instructor en ningún curso
					{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Solicitudes donde es responsable</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table table-hover">
				{%if responsable_courses is defined and responsable_courses|length > 0%}
				<thead>
					<th>Nombre</th>
					<th>Instructor</th>
					<th>Estado</th>
				</thead>
				{%endif%}
				<tbody>
					{%for course in responsable_courses%}
					<tr class="cursor-pointer clickable-row" data-href="solicitud/{{course.id}}">
						<td>
							{{course.nombre}}
						</td>
						<td>
							{{ course.instructor_name_or_email() }}
						</td>
						<td>
							{{ course.status.value }}
						</td>
					</tr>
					{%else%}
					No eres responsable en ningún curso
					{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
{%endblock%}
