{% extends "fulllayout.html" %}

{% from "cursos/detalles/macros.html" import detalles_curso %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header" data-background-color="purple">
  			<h4 class="title">Detalles de la solicitud</h4>
  		</div>
      <div class="card-content">
        {{ detalles_curso(curso) }}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header" data-background-color="purple">
  			<h4 class="title">Acciones</h4>
  		</div>
      <div class="card-content">
        {% block actions %}
          {% if curso.responsable == current_user %}

            <a href="{{url_for('static', filename='retro.rtf')}}">Descargar formulario de retroalimentaciones</a><br><hr>
            <a href="{{ url_for('curso.retroalimentacion', course_id=curso.id)}}">Capturar retroalimentación</a><hr>
            {% if curso.status.value == "Finalizado" %}
              <a href="{{url_for('curso.info_informe', curso_id=curso.id)}}">Caputrar resultados de curso</a>
            {% endif %}
          {% endif %}
          {% if curso.responsable == current_user and curso.allow_inscription_toggle() %}
            {% if curso.inscripciones_abiertas %}
              <a class="btn btn-danger" href="{{ url_for('curso.toggle_inscripcion', course_id=curso.id) }}">
                Cerrar inscripciones
              </a>
            {% else %}
              <a class="btn btn-success" href="{{ url_for('curso.toggle_inscripcion', course_id=curso.id) }}">
                Abrir inscripciones
              </a>
            {% endif %}
          {% endif %}
          {% if curso.responsable == current_user or curso.instructor == current_user %}
            <a href="{{ url_for('curso.lista_inscritos', course_id=curso.id) }}">
              Lista de alumnos inscritos
            </a>
          {% else %}
            {% if curso.esta_inscrito(current_user) %}
              <button type="button" class="btn btn-secondary btn-lg" disabled>Inscrito</button>
            {% elif curso.inscripciones_abiertas %}
              <a href="{{ url_for('curso.inscribirse',course_id=curso.id) }}">Inscribirse</a>
            {% else %}
              <button type="button" class="btn btn-secondary btn-lg" disabled>Inscripciones cerradas</button>
            {% endif %}
          {% endif %}

        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
