{% macro detalles_curso(curso) %}
<div class="row">
  <div class="col-lg-4">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Responsable del curso</label>
      <input class="form-control cursor-default" type="text" value="{{ curso.responsable.full_name() }}" disabled>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">instructor del curso</label>
      <input class="form-control cursor-default" type="text" value="{{ curso.instructor_name_or_email() }}" disabled>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Estado de las inscripciones</label>
      <input class="form-control cursor-default" type="text" value="{{ "Abiertas" if curso.inscripciones_abiertas else "Cerradas" }}" disabled>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Nombre del curso</label>
      <input class="form-control cursor-default" type="text" value="{{ curso.nombre }}" disabled>
    </fieldset>
  </div>
  <div class="col-lg-6">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Duración en horas</label>
      <input class="form-control cursor-default" type="text" value="{{ curso.duracion }}" disabled>
    </fieldset>
  </div>
</div>
<fieldset class="form-group label-floating is-focused">
  <label class="control-label">Contenido sintético</label>
  <textarea class="form-control cursor-default" disabled>{{ curso.contenido_sintetico }}</textarea>
</fieldset>
<fieldset class="form-group label-floating is-focused">
  <label class="control-label">Modalidades o formas de conducción de los procesos de enseñanza y aprendizajes</label>
  <textarea class="form-control cursor-default" disabled>{{ curso.modalidades_aprendizaje }}</textarea>
</fieldset>
<fieldset class="form-group label-floating is-focused">
  <label class="control-label">Las modalidades y requisitos de evaluación y acreditación</label>
  <textarea class="form-control cursor-default" disabled>{{ curso.modalidades_evaluacion }}</textarea>
</fieldset>
<fieldset class="form-group label-floating is-focused">
  <label class="control-label">Perfil academico del instructor</label>
  <textarea class="form-control cursor-default" disabled>{{ curso.perfil_academico }}</textarea>
</fieldset>
<fieldset class="form-group label-floating is-focused">
  <label class="control-label">Antecedentes o habilidades necesarios de los alumnos</label>
  <textarea class="form-control cursor-default" disabled>{{ curso.antecedentes }}</textarea>
</fieldset>

<div class="row">
  <div class="col-lg-4">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Disponiblidad</label>
      <input class="form-control cursor-default" type="text" value="{{ "Abierto al publico" if curso.abierto else "Solo para miembros de la universidad"}}" disabled>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Cupo mínimo</label>
      <input class="form-control cursor-default" type="text" value="{{ curso.cupo_min }}" disabled>
    </fieldset>
  </div>
  <div class="col-lg-4">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Cupo máximo</label>
      <input class="form-control cursor-default" type="text" value="{{ curso.cupo_max }}" disabled>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Fecha de inicio</label>
      <input class="form-control cursor-default" type="text" value="{{ curso.fecha_inicio.strftime('%Y-%m-%d') }}" disabled>
    </fieldset>
  </div>
  <div class="col-lg-6">
    <fieldset class="form-group label-floating is-focused">
      <label class="control-label">Fecha de finalización</label>
      <input class="form-control cursor-default" type="text" value="{{ curso.fecha_fin.strftime('%Y-%m-%d') }}" disabled>
    </fieldset>
  </div>
</div>

{%- endmacro %}
