<table style="width: 545.5pt; border-collapse: collapse; border: none;" width="727">
<tbody>
<tr>
<td style="width: 114.3pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="50"><img src="https://pbs.twimg.com/profile_images/3481929197/db956c9a0262889aaf5277d2b2b16cce.png"></td>
<td style="width: 431.2pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="575">
<p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 36.0pt; font-family: 'Arial',sans-serif;">Universidad de Sonora</span></strong></p>
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 22.0pt; font-family: 'Arial',sans-serif;">Divisi&oacute;n de Ciencias Exactas y Naturales</span></p>
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 20.0pt; font-family: 'Arial',sans-serif;">Departamento de Matem&aacute;ticas</span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="font-size: 14.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">Otorga la presente</span></p>
<p style="text-align: center;"><span style="font-size: 20.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">CONSTANCIA </span></p>
<p style="text-align: center;"><span style="font-size: 14.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">a</span></p>
<p style="text-align: center;"><strong><span style="font-size: 16.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">{{ alumno.full_name() }}</span></strong></p>
<p style="text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">por su asistencia y acreditaci&oacute;n del curso de actualizaci&oacute;n disciplinaria para profesores intitulado <em> {{ curso.name }} </em>. El curso, con una duraci&oacute;n de {{ curso.duracion }}, se imparti&oacute; del {{ curso.fecha_inicio }} al {{ curso.fecha_fin }}. El informe fue aprobado por el H. Consejo Divisional.
</span></p>
<p style="text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">Hermosillo, Sonora, M&eacute;xico. 3 de enero de 2017.</span></p>
<p style="text-align: center;"><span style="font-size: 10.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&ldquo;El saber de mis hijos har&aacute; mi grandeza&rdquo;</span></p>
<p style="text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
<p style="text-align: center;"><span style="font-size: 12.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
<table style="border-collapse: collapse; border: none;" width="662">
<tbody>
<tr>
<td style="width: 240.75pt; border: none; border-top: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="321">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 12.0pt; font-family: 'Arial',sans-serif;">Dr. Mart&iacute;n Gildardo Garc&iacute;a Alvarado</span></strong></p>
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Arial',sans-serif;">Jefe del Departamento de Matem&aacute;ticas</span></p>
</td>
<td style="width: 11.8pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="16">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
</td>
<td style="width: 243.6pt; border: none; border-top: solid windowtext 1.0pt; padding: 0cm 5.4pt 0cm 5.4pt;" width="325">
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><strong><span style="font-size: 12.0pt; font-family: 'Arial',sans-serif;">Dr. Rodrigo Melendrez Amavizca</span></strong></p>
<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 12.0pt; font-family: 'Arial',sans-serif;">Director de la Divisi&oacute;n de Ciencias Exactas y Naturales</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-size: 14.0pt; line-height: 107%; font-family: 'Arial',sans-serif;">&nbsp;</span></p>
<p>&nbsp;</p>
